# Data Cleaning Code-Along

Implement the code-blocks below in order to explore some common data-transformation techniques. We will be using the `realestate.xlsx` file again (with a twist).

## Data Cleaning I

Simple drops.

In [29]:
import pandas as pd
import numpy as np

In [30]:
# TODO: Load in your data from `../../data/realestate.xlsx`
df = pd.read_excel("../data/realestate.xlsx")

In [31]:
# TODO: Observe first 5 rows

df.head()

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,32,84.87882,100.0,24.98298,121.54024,37.9
1,2,19.5,306.59470,9.0,24.98034,121.53951,42.2
2,3,13.3,561.98450,5.0,24.98746,121.54391,47.3
3,4,13.3,561.98450,5.0,24.98746,121.54391,54.8
4,5,5,390.56840,5.0,24.97937,121.54245,43.1

In [32]:
# TODO: Count how many null values we have

...

Ellipsis

In [ ]:
# TODO: Let's drop these missing values, and save this new dataframe into a new var called "df_new"

...

In [ ]:
# TODO: Let's count our null values again
# seems like this is good to go right? ... (wrong)

...

## Data Cleaning II

More advanced data cleaning/transforming techniques.

In [ ]:
# TODO: is there anything that we are missing? let's take a look at our summary statistics
# What do you notice is not being reflected here? 

...

In [ ]:
# TODO: seems like our X2 column is not being treated as a numeric, let's see what's going on

...

In [ ]:
# TODO: seems like our "X3 distance..." is being treated as an "object" aka string, let's attempt to fix this

...

In [ ]:
# TODO: It looks like there is some string data occasionally mixed with our numerics.
# Let's use "replace" instead!
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

...

In [ ]:
# TODO: Let's use "info" to see if our column is now being treated as a numeric

...

In [ ]:
# TODO: Let's take a look at our 'describe' df again

...

In [ ]:
# TODO: Great! We removed missing values, as well as unexpected strings. However, there is still more...
# Notice the "skewness" of "X2 house age"
# Let's plot to see what's going on
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.hist.html

...

In [ ]:
# TODO: If an outlier is not too extreme, we generally want to keep it (more data the better)
# However, this is a ridiculous value and most likely represents an erroneous value or an error in our collection-techniques
# Using boolean indexing, we will remove this
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing

...

In [ ]:
# TODO: Let's observe our distribution again... (looking better!)
# (we should do this check for ALL columns)

...

In [ ]:
# TODO: Often times when we get a dataset, there is a row index label. This is often superfluous and unneeded in our analysis
# let's drop it, as well as Latitude & Longitude

...

In [ ]:
# TODO: Lastly, we should rename our columns for "ease of use"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html

...